<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info" style="background: linear-gradient(22deg, #51a1bb, #8e24aa);">
                <h3 class="card-title">Relatórios</h3>
                <p class="card-category"><b>Acesse a área de relatórios antiga </b>
                    <a [href]="urlService.getUrl() + '/relatorio'" target="_blank">aqui</a>
                </p>
                
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="card-header card-header-info">
                                <h3 class="card-title">Receitas</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-info"><a [href]="urlService.getUrl() + '/contasAReceber'">CONTAS A RECEBER</a> </p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/entradasdereceitasrecebidas'">Entradas de Receitas Recebidas</a> </p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/entradaporcontabancaria'">Entradas por Conta Bancária/NF</a></p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/fatporcliente?p=s'">Faturamento por Cliente</a></p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/notasemitidas'">Notas Emitidas - FORNECEDOR</a></p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/notasficaisemitidascriaatva'">Notas Emitidas - CRIAATVA</a></p>                          
                                <p class="text-info"><a [href]="urlService.getUrl() + '/controledeorcamento'">OS Recebidas por Cliente</a></p>                          
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">

                            <div class="card-header card-header-danger">
                                <h3 class="card-title">Despesas</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-danger">CONTAS A PAGAR</p>                          
                                <p class="text-danger">CONTAS PAGAS POR DESPESA/GRUPO</p>                          
                                <p class="text-danger">FIXAS/VARIÁVEIS</p>                          
                                <p class="text-danger">FORNECEDOR</p>                          
                                <p class="text-danger">NOTA FISCAL (FORNECEDOR)</p>                          
                                <p class="text-danger">POR CLIENTE (ANALÍTICO)</p>                          
                                <p class="text-danger">POR CONTA BANCÁRIA</p>                          
                                <p class="text-danger">POR OS</p>                          
                                <p class="text-danger">POR OS - PLANILHA</p>                          
                                <p class="text-danger">REEMBOLSO</p>                          
                                <p class="text-danger">SINTÉTICA POR OS (%)</p>                          
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="card-header card-header-info">
                                <h3 class="card-title">Ordem de Serviços</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-info"><a [href]="urlService.getUrl() + '/oscadastradas'">RELATÓRIO DE OS CADASTRADAS</a></p>                       
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">

                            <div class="card-header card-header-info">
                                <h3 class="card-title">Fechamento</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-info">FLUXO DE CAIXA ANALÍTICO (ANTIGO)</p>                       
                                <p class="text-info">FLUXO DE CAIXA SINTÉTICO</p>                       
                                <p class="text-info"><a [href]="urlService.getUrl() + '/fechamentofinal'">RELATÓRIO FECHAMENTO FINAL</a></p>                       
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4 class="card-title">
                                Relatórios Places
                                <p class="category">Click to view Relatórios</p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','left')">Top Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','center')">Top Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('top','right')">Top Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','left')">Bottom Left</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','center')">Bottom Center</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button class="btn btn-danger btn-block"
                                        (click)="showNotification('bottom','right')">Bottom Right</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>